<!-- Feel free to remove this div. Uses purplecoat: https://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="footer.html">
&copy;{{ site.time | date:"%Y" }}.
Built with <a href="https://jekyllrb.com/">Jekyll</a> and
<a href="https://github.com/ellekasai/shiori">Shiori Theme</a>.
</div>