<div data-purplecoat="deployctl" data-purplecoat-label="sidebar.html">
  <h3 class="section-header">
    Get deployctl
  </h3>

  <p><a href="https://gitlab.gioxa.com/systemd/deployctl" target="_blank" class="btn btn-primary"><i class="fa fa-gitlab fa-lg"></i> View on it on Gitlab &rarr;</a></p>

  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <img src="https://gitlab.gioxa.com/uploads/user/avatar/2/danny_pro.jpg" alt="Danny Goossen" style="width:128px;height:128px;" class="pull-left">
      <div class="media-body">
        <h4 class="media-heading">Danny Goossen</h4>
      </div>
    </div>
  </p>

</div>


